.header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 48px; */
}

.header-description {
    /* border: 2px solid red; */
    height: auto;
    width: auto;
    /* justify-content: center; */
    padding: 10px;
}

.header-description-title {

    width: 708px;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    margin-top: 0px;
    font-weight: 900;
    margin-bottom: 0px;

}

.header-paragraph {
    width: 634px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: 'Lato', sans-serif;
    color: rgba(39, 39, 39, 0.60);
}

.header-button {
    margin-top: 0px;
    padding: 20px 43px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    color: white;
    background-color: #E55473;
    border: 0;
}

.featured-description {
    text-align: center;
    margin-top: 174px;
    margin-bottom: 48px;
}

.featured-heading {

    font-family: 'lato', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured-paragraph {
    font-family: 'lato', sans-serif;
    margin-top: 0px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    font-size: 18px;
}

.our-features {
    display: flex;
    justify-content: space-evenly;
}

.image-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    /* flex-shrink: 0; */
}

.image-two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    /* margin-bottom: 0px; */
    margin-top: 10px;

}

.image-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}

.singe-images {
    /* justify-content: center; */
    /* text-align: center; */
    /* margin-top: ; */

}

.images-text {
    margin-top: 100px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.extra {
    margin-top: 160px;
}
